In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle('./converted/train/data0000.pkl')

FileNotFoundError: [Errno 2] No such file or directory: './converted/train/data0000.pkl'

In [ ]:
df

In [ ]:
df.columns

In [ ]:
df['slic_rgb_global_graph'][0]

In [ ]:
df['slic_rgb_local_graph'][0]

In [ ]:
df['slic_rgb_global_graph'][0].nodes(data = True)[0]

In [ ]:
list(df['slic_rgb_global_graph'][0].edges(data = True))[0:5]

In [ ]:
df['slic_rgb_local_graph'][0][0].nodes(data = True)

In [ ]:
df['slic_rgb_local_graph'][0][0].edges(data = True)

In [1]:
import os
import pandas as pd

In [2]:
df = pd.read_csv('./name.csv', delimiter = '\t')

In [3]:
df['directory'] = sorted(os.listdir('./ImageNet/train'))

In [17]:
df[350:400]

     Class ID                                         Class Name  directory
350       350                                   ibex, Capra ibex  n02417914
351       351                                         hartebeest  n02422106
352       352                         impala, Aepyceros melampus  n02422699
353       353                                            gazelle  n02423022
354       354      Arabian camel, dromedary, Camelus dromedarius  n02437312
355       355                                              llama  n02437616
356       356                                             weasel  n02441942
357       357                                               mink  n02442845
358       358  polecat, fitch, foulmart, foumart, Mustela put...  n02443114
359       359      black-footed ferret, ferret, Mustela nigripes  n02443484
360       360                                              otter  n02444819
361       361                         skunk, polecat, wood pussy  n02445715
362       362                                             badger  n02447366
363       363                                          armadillo  n02454379
364       364         three-toed sloth, ai, Bradypus tridactylus  n02457408
365       365       orangutan, orang, orangutang, Pongo pygmaeus  n02480495
366       366                           gorilla, Gorilla gorilla  n02480855
367       367                 chimpanzee, chimp, Pan troglodytes  n02481823
368       368                              gibbon, Hylobates lar  n02483362
369       369  siamang, Hylobates syndactylus, Symphalangus s...  n02483708
370       370                              guenon, guenon monkey  n02484975
371       371           patas, hussar monkey, Erythrocebus patas  n02486261
372       372                                             baboon  n02486410
373       373                                            macaque  n02487347
374       374                                             langur  n02488291
375       375                            colobus, colobus monkey  n02488702
376       376                 proboscis monkey, Nasalis larvatus  n02489166
377       377                                           marmoset  n02490219
378       378                capuchin, ringtail, Cebus capucinus  n02492035
379       379                              howler monkey, howler  n02492660
380       380                                  titi, titi monkey  n02493509
381       381                    spider monkey, Ateles geoffroyi  n02493793
382       382                  squirrel monkey, Saimiri sciureus  n02494079
383       383     Madagascar cat, ring-tailed lemur, Lemur catta  n02497673
384       384    indri, indris, Indri indri, Indri brevicaudatus  n02500267
385       385                   Indian elephant, Elephas maximus  n02504013
386       386               African elephant, Loxodonta africana  n02504458
387       387  lesser panda, red panda, panda, bear cat, cat ...  n02509815
388       388  giant panda, panda, panda bear, coon bear, Ail...  n02510455
389       389                                  barracouta, snoek  n02514041
390       390                                                eel  n02526121
391       391  coho, cohoe, coho salmon, blue jack, silver sa...  n02536864
392       392                  rock beauty, Holocanthus tricolor  n02606052
393       393                                       anemone fish  n02607072
394       394                                           sturgeon  n02640242
395       395  gar, garfish, garpike, billfish, Lepisosteus o...  n02641379
396       396                                           lionfish  n02643566
397       397            puffer, pufferfish, blowfish, globefish  n02655020
398       398                                             abacus  n02666196
399       399                                              abaya  n02667093

In [14]:
df[df['Class Name'] == 'Pomeranian']

     Class ID  Class Name  directory
259       259  Pomeranian  n02112018